html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor {
    max-width: 1136px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    width: 100%;
    height: 7rem;
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buscador {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    flex-wrap: wrap;
}

.logo {
    width: 10rem;
    margin: auto 0;
}

.buscador-barra {
    width: 25rem;
    height: 40px;
    padding: .5rem 1rem;
    display: flex;
    text-align: center;
    background-color: #F5F5F5;
    border-radius: 20px;
}

.buscador-barra input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.login {
    width: 12rem;
    height: 2.5rem;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    cursor: pointer;
}

.lupa-mobile {
    display: none;
}

.banner {
    width: calc(100vw - .85rem);
    height: 22rem;
    background-image: url("../img/banner.png");
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
}

.banner__contenedor {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    padding: 0 .5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    gap: 1rem;
}

.banner-titulo {
    font-weight: 700;
    font-size: 3.25rem;
    line-height: 61px;
}

.banner-parrafo {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 26px;
}

.banner__consola {
    width: 129px;
    height: 51px;
    background: #2A7AE4;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.button:hover{
	background:#43b6da
}


/*  TABLET */
@media screen and (max-width: 768px) {
    .logo {
        width: 100px;
    }

    .buscador-barra {
        width: 17rem;
    }
     .login {
        width: 10rem;
     }

     .banner__consola {
        width: 7.5rem;
     }
}

/*  MOBILE */
@media screen and (max-width: 424px) {

    .nav {
        height: 4.5rem;
    }

    .logo {
        width: 100px;
    }

    .buscador-barra {
        display: none;
    }

    .login {
        width: 8rem;
    }

    .lupa-mobile {
        display: block;
        height: 1.5rem;
    }

    .banner__consola {
        width: 7.5rem;
    }
    .banner {
        height: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .banner__contenedor {
        height: 6.125rem;
        gap: .5rem;
    }

    .banner-titulo {
        font-size: 1.375rem;
        font-size: 22px;
        line-height: 26px;
    }

    .banner-parrafo {
        font-size: .875rem;
    }

    .banner__consola {
        width: 118px;
        height: 40px;
    }
}

